# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
absl-py=1.2.0=pypi_0
anndata=0.8.0=pypi_0
arpack=3.7.0=hdefa2d7_2
asttokens=2.0.8=pyhd8ed1ab_0
astunparse=1.6.3=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=py_2
backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
bokeh=2.4.3=pypi_0
brotlipy=0.7.0=py39hb9d737c_1004
ca-certificates=2022.9.24=ha878542_0
cachetools=5.2.0=pypi_0
certifi=2022.6.15=pypi_0
cffi=1.15.1=py39h74dc2b5_0
charset-normalizer=2.1.1=pyhd8ed1ab_0
click=8.1.3=pypi_0
cloudpickle=2.2.0=pypi_0
colorama=0.4.5=pyhd8ed1ab_0
cryptography=37.0.4=py39hd97740a_0
cycler=0.11.0=pypi_0
debugpy=1.6.3=py39h5a03fae_0
decorator=5.1.1=pyhd8ed1ab_0
dgl=0.9.1=py39_0
docopt=0.6.2=pypi_0
dunamai=1.13.2=pypi_0
entrypoints=0.4=pyhd8ed1ab_0
executing=1.1.1=pyhd8ed1ab_0
flatbuffers=22.9.24=pypi_0
fonttools=4.37.1=pypi_0
future=0.18.2=pypi_0
gast=0.4.0=pypi_0
get-version=3.5.4=pypi_0
glpk=5.0=h445213a_0
gmp=6.2.1=h58526e2_0
google-auth=2.12.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.49.1=pypi_0
h5py=3.7.0=pypi_0
hyperopt=0.2.7=pypi_0
icu=70.1=h27087fc_0
idna=3.3=pypi_0
igraph=0.9.11=pypi_0
imageio=2.22.1=pypi_0
importlib-metadata=5.0.0=pypi_0
ipykernel=6.16.0=pyh210e3f2_0
ipython=8.5.0=pyh41d4057_1
jedi=0.18.1=pyhd8ed1ab_2
jinja2=3.1.2=pypi_0
joblib=1.1.0=pypi_0
jupyter_client=7.4.2=pyhd8ed1ab_0
jupyter_core=4.11.1=py39hf3d152e_0
keras=2.10.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.4=pypi_0
ld_impl_linux-64=2.36.1=hea4e1c9_2
legacy-api-wrap=1.2=pypi_0
leidenalg=0.8.10=pypi_0
libblas=3.9.0=16_linux64_openblas
libcblas=3.9.0=16_linux64_openblas
libclang=14.0.6=pypi_0
libffi=3.3=h58526e2_2
libgcc-ng=12.1.0=h8d9b700_16
libgfortran-ng=12.1.0=h69a702a_16
libgfortran5=12.1.0=hdcd56e2_16
libgomp=12.1.0=h8d9b700_16
libiconv=1.17=h166bdaf_0
liblapack=3.9.0=16_linux64_openblas
libopenblas=0.3.21=pthreads_h78a6416_3
libsodium=1.0.18=h36c2ea0_1
libsqlite=3.39.2=h753d276_1
libstdcxx-ng=12.1.0=ha89aaad_16
libxml2=2.9.14=h22db469_4
libzlib=1.2.12=h166bdaf_2
llvmlite=0.39.1=pypi_0
louvain=0.7.1=pypi_0
markdown=3.4.1=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib=3.5.3=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
metis=5.1.0=h58526e2_1006
mpfr=4.1.0=h9202a9a_1
natsort=8.2.0=pypi_0
ncurses=6.3=h27087fc_1
nest-asyncio=1.5.6=pyhd8ed1ab_0
networkx=2.8.6=pyhd8ed1ab_0
numba=0.56.2=pypi_0
numexpr=2.8.3=pypi_0
numpy=1.20.2=pypi_0
oauthlib=3.2.1=pypi_0
openssl=1.1.1q=h166bdaf_1
opt-einsum=3.3.0=pypi_0
packaging=21.3=pyhd8ed1ab_0
pandas=1.4.3=pypi_0
parso=0.8.3=pyhd8ed1ab_0
patsy=0.5.2=pypi_0
pexpect=4.8.0=pyh9f0ad1d_2
pickleshare=0.7.5=py_1003
pillow=9.2.0=pypi_0
pip=22.2.2=pyhd8ed1ab_0
pipreqs=0.4.11=pypi_0
pot=0.9.0=pypi_0
prompt-toolkit=3.0.31=pyha770c72_0
protobuf=3.19.6=pypi_0
psutil=5.9.2=py39hb9d737c_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.2=pyhd8ed1ab_0
py4j=0.10.9.7=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.21=pyhd8ed1ab_0
pygments=2.13.0=pyhd8ed1ab_0
pynndescent=0.5.7=pypi_0
pyopenssl=22.0.0=pyhd8ed1ab_1
pyparsing=3.0.9=pyhd8ed1ab_0
pysocks=1.7.1=pyha2e5f31_6
python=3.9.0=hffdb5ce_5_cpython
python-dateutil=2.8.2=pyhd8ed1ab_0
python_abi=3.9=2_cp39
pytz=2022.2.1=pypi_0
pywavelets=1.4.1=pypi_0
pyyaml=6.0=pypi_0
pyzmq=24.0.1=py39headdf64_0
readline=8.1.2=h0f457ee_0
requests=2.28.1=pyhd8ed1ab_1
requests-oauthlib=1.3.1=pypi_0
rsa=4.9=pypi_0
scanpy=1.9.1=pypi_0
scikit-image=0.19.3=pypi_0
scikit-learn=0.24.1=pypi_0
scikit-misc=0.1.4=pypi_0
scipy=1.9.1=pypi_0
seaborn=0.11.2=pypi_0
session-info=1.0.0=pypi_0
setuptools=59.8.0=pypi_0
sinfo=0.3.4=pypi_0
six=1.16.0=pyh6c4a22f_0
sqlite=3.39.2=h4ff8645_1
stack_data=0.5.1=pyhd8ed1ab_0
statsmodels=0.13.2=pypi_0
stdlib-list=0.8.0=pypi_0
stlearn=0.4.8=pypi_0
suitesparse=5.10.1=h9e50725_1
tables=3.7.0=pypi_0
tbb=2021.6.0=h924138e_0
tensorboard=2.10.1=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.10.0=pypi_0
tensorflow-estimator=2.10.0=pypi_0
tensorflow-io-gcs-filesystem=0.27.0=pypi_0
termcolor=2.0.1=pypi_0
texttable=1.6.4=pypi_0
threadpoolctl=3.1.0=pypi_0
tifffile=2022.8.12=pypi_0
tk=8.6.12=h27826a3_0
torch=1.10.0+cu111=pypi_0
torch-cluster=1.5.9=pypi_0
torch-geometric=2.1.0.post1=pypi_0
torch-scatter=2.0.9=pypi_0
torch-sparse=0.6.12=pypi_0
torch-spline-conv=1.2.1=pypi_0
torchaudio=0.10.0+cu111=pypi_0
torchvision=0.11.0+cu111=pypi_0
tornado=6.2=py39hb9d737c_0
tqdm=4.64.0=pypi_0
traitlets=5.4.0=pyhd8ed1ab_0
typing-extensions=4.3.0=pypi_0
tzdata=2022c=h191b570_0
umap-learn=0.5.3=pypi_0
urllib3=1.26.12=pypi_0
wcwidth=0.2.5=pyh9f0ad1d_2
werkzeug=2.2.2=pypi_0
wheel=0.37.1=pyhd8ed1ab_0
wrapt=1.14.1=pypi_0
xz=5.2.6=h166bdaf_0
yarg=0.1.9=pypi_0
zeromq=4.3.4=h9c3ff4c_1
zipp=3.9.0=pypi_0
zlib=1.2.12=h166bdaf_2
